.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.carousel-indicators li {
    background-color: #999 !important;
    background-color: rgba(70,70,70,.25) !important;
}
  
.carousel-indicators .active {
    background-color: #444 !important;
}

.carousel-control-next-icon ,
.carousel-control-prev-icon ,
.carousel-caption {
    
    background-color: #444 !important;
}

.carousel .carousel-item img {
    object-fit: contain;
    object-position: center;
    height: 50vh;
    overflow: hidden;
  }
  